body 
{
	font-family: Verdana;
}	


img
{
	padding:2px 2px 2px 2px;
	vertical-align:middle;
}

table
{
	border-spacing: 0px; /* cellspacing */
	/*margin: 0 auto;  /* td align-center */
}

table[class="jobtable"]
{
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:White;
	width:100%;
	margin-bottom:10px;
	background-color: Black;
}

table[class="jobhistorytable"]
{
	border:1px dotted white;
	width:100%;
	background-color:#222222
}

table[class="alertstable"]
{
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:White;
	width:100%;
	margin-bottom:10px;
	table-layout:fixed;
	word-wrap:break-word;
}

th, td 
{ 
	text-align:left;
	color:white;
}

td
{
	padding: 2px 8px 2px 4px; /* cellpadding */
}

th
{
	font-size:12pt;
	padding: 10px 8px 10px 4px;
	border-bottom:1px solid white;
	background-color:#333333;
}

tr[class="jobrow"] td
{
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:white;
}

tr[class="jobhistoryrow"] td
{
	border-width:0 0 1px 0;
	border-style:dotted;
	border-color:white;
}

tr[class="alertrow"] td
{
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:white;
	background-color:#222222;
}

tr[class="alertmessagerow"] td
{
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:white;
}

textarea, input[type="text"], input[type="password"]
{
	width:600px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type=text][class="required"]
{
	background-color:#FFC568;
}

select
{
	width:603px;
}

.pagerNumber
{
	vertical-align:top;
	padding:0px 5px 0px 5px;
	text-decoration:none;
}

.pagerCurrent
{
	padding:0px 5px 0px 5px;
	vertical-align:top;
	text-decoration:none;
	font-weight:bold;
	color:red;
}

.heading
{
	vertical-align:middle;
	font-weight:bold;
}

#alertsNotifier
{
	line-height:28px; /* OMFG. This is the simplest way to center vertically inside div. I H.A.T.E C.S.S */
	width:28px;
	height:28px;
	text-align:center;
	background-image: url('/content/images/AlertBackground.png');
	cursor:pointer;
	font-size:6pt;
	font-weight:bold;
}

/* jQueryUI overrrides */

/* Make all the widgets smaller */
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 0.8em; }

/* Info and trace widget styles */
.ui-state-info, .ui-widget-content .ui-state-info, .ui-widget-header .ui-state-info  {border: 1px solid #A6C9E2; background: #EBF5FD; color: #363636; }
.ui-state-info a, .ui-widget-content .ui-state-info a,.ui-widget-header .ui-state-info a { color: #363636; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
