<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackgroundWorkerService.Logic.Properties.Settings.BackgroundWorkerConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BackgroundWorker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
