<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="BackgroundWorkerService.Logic.Configuration.ConfigSetupConfigurationSection" type="BackgroundWorkerService.Logic.Configuration.ConfigSetupConfigurationSection, BackgroundWorkerService.Logic"/>
		<section name="BackgroundWorkerService.Logic.Configuration.LoggingProviderConfigurationSection" type="BackgroundWorkerService.Logic.Configuration.LoggingProviderConfigurationSection, BackgroundWorkerService.Logic"/>
		<section name="BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider" type="BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider, BackgroundWorkerService.Logic"/>
	</configSections>
	<BackgroundWorkerService.Logic.Configuration.ConfigSetupConfigurationSection Assembly="BackgroundWorkerService.Logic" Class="BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider"/>
	<BackgroundWorkerService.Logic.Configuration.LoggingProviderConfigurationSection Assembly="BackgroundWorkerService.Logic" Class="BackgroundWorkerService.Logic.Configuration.EventLogLoggingProvider"/>
	<BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider PollFrequency="00:00:04" TransactionLockTimeout="00:00:05" CommitRetryCount="5" ShutdownTimeout="00:00:10" InstanceName="" EventLogSource="Background Worker Service" ConnectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BackgroundWorkerService;Integrated Security=True">
		<Queues>
			<Queue Id="0" Size="1" ThreadCount="1"/>
			<Queue Id="1" Size="6" ThreadCount="3"/>
		</Queues>
	</BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
