<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="BackgroundWorkerService.Logic.Configuration.ConfigSetupConfigurationSection" type="BackgroundWorkerService.Logic.Configuration.ConfigSetupConfigurationSection, BackgroundWorkerService.Logic"/>
		<section name="BackgroundWorkerService.Logic.Configuration.LoggingProviderConfigurationSection" type="BackgroundWorkerService.Logic.Configuration.LoggingProviderConfigurationSection, BackgroundWorkerService.Logic"/>
		<section name="BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider" type="BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider, BackgroundWorkerService.Logic"/>
	</configSections>
	<BackgroundWorkerService.Logic.Configuration.ConfigSetupConfigurationSection Assembly="BackgroundWorkerService.Logic" Class="BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider"/>
	<BackgroundWorkerService.Logic.Configuration.LoggingProviderConfigurationSection Assembly="BackgroundWorkerService.Logic" Class="BackgroundWorkerService.Logic.Configuration.EventLogLoggingProvider"/>
	<BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider PollFrequency="00:00:04" TransactionLockTimeout="00:00:05" CommitRetryCount="5" ShutdownTimeout="00:00:10" InstanceName="" EventLogSource="Background Worker Service" ConnectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BackgroundWorkerService;Integrated Security=True">
		<Queues>
			<Queue Id="0" Size="1" ThreadCount="1"/>
			<Queue Id="1" Size="6" ThreadCount="3"/>
		</Queues>
	</BackgroundWorkerService.Logic.Configuration.ConfigSettingsProvider>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IAccessPoint" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<!-- Local debug when running service ui -->
			<endpoint address="http://localhost:7776/BackgroundWorkerService.Service"
				 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessPoint"
				 contract="BWS.IAccessPoint" name="BasicHttpBinding_IAccessPoint" />
			<!-- When running Azure worker role in compute emulator -->
			<!--<endpoint address="http://127.255.0.0:7778/BackgroundWorkerService.Service"
				 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessPoint"
				 contract="BWS.IAccessPoint" name="BasicHttpBinding_IAccessPoint" />-->
		</client>
	</system.serviceModel>
</configuration>
